.heading-box{
  text-align: center;
  border-bottom: 1px solid lightgrey;
  color: #8899a6;
  margin-bottom: 40px;
  font-weight: lighter;
  font-size: 14px;
  line-height: 10px;
  background-color: white;
}

.container{
  text-align: center;
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 5px;
  height: 320px;
  width: 600px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
.footer-box{
  text-align: center;
  border-top: 1px solid lightgrey;
  height: 30px;
  padding-top: 20px;
  margin-top: 40px;
  color: #8899a6;
  font-size: 15px;
  line-height: 10px;
  background-color: white;
}

.button{
  width: 310px;
  height: 35px;
  background-color: #1da1f2;
  border: #1da1f2;
  color: white;
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.input-form{
  margin: 6px;
  border-color: ##1da1f2;
  padding: 3px;
  height: 25px;
  width: 300px;
}

#bg{
  background-image: url(http://pic12.nipic.com/20110117/1369025_160745607000_2.jpg);
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;

}
