.button {
  width: 150px;
  border: 1px solid white;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-top: 15px;
}

.pull-right {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.button:hover {
  color: #e0245e;
  opacity: 1;
}

.button-see-thru {
  opacity: 0.5;
}

.button-white {
  background-color: white;
}

.banner {
  background-color: #e0245e;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

.banner h1{
  text-align: center;
  font-size: 48px
  font-weight: 500;
  padding: 85px 0;
  margin: 0;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-container{
  background-color: white;
  border: 1px solid lightgrey;
}

.nav-list{
  margin: 0;
  text-align: center;
}

.nav-list li{
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  border-right: 1px solid lightgrey;
  margin: auto -2px;
}

/*.nav-list li:first-child{
  border-left: 1px solid lightgrey;
}*/

.nav-list li:hover{
  border-bottom: 3px solid #e0245e;
}

.content-box {
  margin: 5px;
  width: 100%;
  padding-left:5px;
  padding-right:5px;
}

.content-box section{
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  font-family: sans-serif;
  margin: 6px;
  height: 412px;
  width:314px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: left;

}

.content-box h4,h5,h2,p,a{
  margin-left: 5px;
}

.content-box section:nth-child(4){
  background-color: #e0245e;
  color: white;
  text-align: center;
}
