.button {
  width: 120px;
  border: 1px solid white;
  display: inline-block;
  text-align: center;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin-top: 22px;
  background: transparent;
  font-family: sans-serif;
  font-weight: 200;
}

.button-container {
  margin-right: 120px;
}

.pull-right {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.button:hover {
  color: #e0245e;
  background-color: white;
}


.banner {
  background-color: #e0245e;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner h1{
  text-align: center;
  font-size: 48px
  font-weight: 300;
  padding: 85px 0;
  margin: 0;
  color: white;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.nav-container{
  background-color: white;
  border: 1px solid lightgrey;
}

.nav-list{
  margin: 0;
  text-align: center;
}

.nav-list li{
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  border-right: 1px solid lightgrey;
  margin: auto -2px;
}

/*.nav-list li:first-child{
  border-left: 1px solid lightgrey;
}*/

.nav-list li:hover{
  border-bottom: 3px solid #e0245e;
}

.main-title-box{
  margin-left: 15px;
}

.content-box {
  margin: 5px;
  width: 100%;
  padding-left:5px;
  padding-right:5px;
}

.content-box section{
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  font-family: sans-serif;
  margin: 6px;
  height: 412px;
  width:314px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: left;

}

.content-box h4,h5,h2, h3,p,a{
  margin-left: 5px;
}


.sign-up-box {
  background-color: #e0245e;
  color: white;
  text-align: center;
  vertical-align: baseline;
  padding: 20px;
}
